.banner {

  position: relative;
}

.visible{
  background-image: url("https://news.marvel.com/wp-content/uploads/2018/04/Amazing-Master.jpg");
  background-position: center 0px;
}

.banner > article{
  background-size: cover;
  height: 100%;
  text-align: center;
  width: 100%;
}

@media screen and (max-width: 736px)
.banner > article p {
    margin-bottom: 1rem;
}

.banner > article p {
  color: rgba(255, 255, 255, 0.65);
  text-transform: uppercase;
  font-size: 1rem;
  font-weight: 300;
  margin: 0;
  padding-bottom: 4.75rem;
  letter-spacing: .25rem;
  top: 100px;
}
@font-face{
  font-family: 'Marvel';
  src: url('../TradeGothic-Bold.eot');
}
.banner > article h2 {
  font-size: 7rem;
  margin-bottom: 0;
  color:white;
  font-weight: 300;
  font-family: Marvel;
  top: 110px;
  background-color: #f01520;
}
.banner > article.visible {
  opacity: 1;
  visibility: visible;
}

.banner > article .inner > :last-child {
  margin-bottom: 0;
}


@media screen and (max-width: 736px) {

  .banner > article .inner {
    width: 90%;
  }

  .banner > article p {
    margin-bottom: 1rem;
  }

  .banner > article h2 {
    font-size: 4em;
  }

}

.banner > article .inner{
  position: relative;
    display: inline-block;
    vertical-align: middle;
    z-index: 1;
    top: 15%;

}

.banner.full {
  padding: 0;
  min-height: 100vh;
  height: 100vh !important;
}

@media screen and (max-width: 1280px) {

  .banner.full {
    padding: 0;
    min-height: 75vh;
    height: 75vh !important;
  }

}

@media screen and (max-width: 980px) {

  .banner.full {
    padding: 0;
    min-height: 50vh;
    height: 50vh !important;
  }

}


