.box header h2 {
  margin-bottom: 2rem;
  padding-bottom: 5rem;
  color: darkgrey;
}

.box header p {
  text-transform: uppercase;
  font-size: .75rem;
  font-weight: 300;
  margin: 0 0 .25rem 0;
  padding: 0 0 .75rem 0;
  letter-spacing: .25rem;
}

.box header p:after {
  content: '';
  position: absolute;
  margin: auto;
  right: 0;
  bottom: 0;
  left: 0;
  width: 50%;
  height: 1px;
  background-color: rgba(0, 0, 0, 0.125);
}


header p {
  position: relative;
  margin: 0 0 1.5rem 0;
}

header h2 + p {
  font-size: 1.25rem;
  margin-top: -1rem;
}

header h3 + p {
  font-size: 1.1rem;
  margin-top: -0.8rem;
}

header h4 + p,
header h5 + p,
header h6 + p {
  font-size: 0.9rem;
  margin-top: -0.6rem;
}

header p {
  color: #bbb;
}
.wrapper.style1 header p {
  color: #d0b5cc;
}

.wrapper.style2 header p {
  color: #999999;
}


#header {
  background: rgba(0, 0, 0, 0.975);
  color: #a6a6a6;
  cursor: default;
  height: 3.25em;
  left: 0;
  line-height: 3.25em;
  position: fixed;
  text-align: right;
  top: 0;
  width: 100%;
  z-index: 10001;
}
#header > .logo {
  display: inline-block;
  height: inherit;
  left: 1.25em;
  line-height: inherit;
  margin: 0;
  padding: 0;
  position: absolute;
  top: 0;
}

#header > .logo a {
  font-size: 1.25em;
  color: #FFF;
  text-decoration: none;
}

#header > .logo a:hover {
  color: rgba(255, 255, 255, 0.65);
}

#header > .logo span {
font-weight: 400;
font-size: .8em;
color: rgba(255, 255, 255, 0.65);
}

#header > a {
-moz-transition: color 0.2s ease-in-out;
-webkit-transition: color 0.2s ease-in-out;
-ms-transition: color 0.2s ease-in-out;
transition: color 0.2s ease-in-out;
display: inline-block;
padding: 0 0.75em;
color: inherit;
text-decoration: none;
color: #FFF;
}

#header.alt{
  background-color: transparent;
  top: 1.5em;
}
#header > a:hover {
color: #f2f2f2;
}

#header > a[href="#menu"] {
text-decoration: none;
-webkit-tap-highlight-color: transparent;
}

#header > a[href="#menu"]:before {
  content: "";
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  text-transform: none !important;
}

#header > a[href="#menu"]:before {
  margin: 0 0.5em 0 0;
}

#header > a + a[href="#menu"]:last-child {
border-left: solid 1px rgba(0, 0, 0, 0.15);
padding-left: 1.25em;
margin-left: 0.5em;
}

#header > a:last-child {
padding-right: 1.25em;
}


@media screen and (max-width: 736px) {

  #header > a {
    padding: 0 0.5em;
  }

    #header > a + a[href="#menu"]:last-child {
      padding-left: 1em;
      margin-left: 0.25em;
    }

    #header > a:last-child {
      padding-right: 1em;
    }

}
