div.image > img{
  border: 2px solid black !important;
  box-shadow: 10px 10px 5px 0px rgba(186,186,186,1);
  width: 100%;
  cursor: pointer;
  transition: transform 1s ease-in-out;
}
div.image > img:hover{
  transform: scale(1.09)
}

@font-face{
  font-family: 'Marvel';
  src: url('../TradeGothic-Bold.eot');
}

.wrapper.style2 header p {
  color:black;
}


.box{
  background: white;
}

.image.fit {
  display: block;
  margin: 0 0 2rem 0;
  max-width: 220px;
  margin: auto;
  margin-bottom: 4rem;
}

.box .content {
  padding: 3rem;
}

.align-center {
  text-align: center;
}

.box header p {
  text-transform: uppercase;
  font-size: .75rem;
  font-weight: 300;
  margin: 0 0 .25rem 0;
  padding: 0 0 .75rem 0;
  letter-spacing: .25rem;
  font-family: Marvel;

}


