.wrapper.style2 {
  background-color: #f2f2f2;
}


.wrapper{

  padding: 6rem 0 4rem 0;
}







.wrapper > .inner{
  margin: 0 auto;
}

.grid-style{
  display: -moz-flex;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -moz-flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.grid-style > :nth-child(2n + 1), .grid-style > :nth-child(2n) {
  width: calc(47% + 0rem);
}

.grid-style > :nth-child(2n + 1) {
  padding-left: 0;
}
.grid-style > :nth-child(2n) {
  padding-left: 0;
}

.grid-style > :nth-child(-n + 2) {
  padding-top: 0;
}
.grid-style > * {
  padding: 2rem;
}


@media screen and (max-width: 980px){
  .grid-style > :nth-child(1n + 1), .grid-style > :nth-child(1n) {
    width: calc(100% + 1rem);
  }
}

@media screen and (max-width: 980px){
  .grid-style > :nth-child(1n) {
    padding-top: 0;
  }

}


@media screen and (max-width: 980px){
  .grid-style > :nth-child(1n) {
    padding-right: 0;
  }

}

@media screen and (max-width: 980px){
  .grid-style > :nth-child(1n) {
    padding-left: 0;
  }

}

@media screen and (max-width: 1280px){

  .wrapper > .inner {
      width: 75rem;
  }
}
@media screen and (max-width: 736px){
  .wrapper {
    padding: 3rem 0 1rem 0;
  }

}

@media screen and (max-width: 980px){
  .wrapper > .inner {
    width: 90%;
  }
}
